    <ol class="gem-c-step-nav__steps">
        <li class="gem-c-step-nav__step js-step
          " id="check-youre-allowed-to-drive" data-track-count="stepNavSection">
            <div class="gem-c-step-nav__header js-toggle-panel" data-position="1">
                <h2 class="gem-c-step-nav__title">
              <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                <span class="gem-c-step-nav__circle-inner">
                  <span class="gem-c-step-nav__circle-background">
                      <span class="visuallyhidden">Krok</span> 1<span class="visuallyhidden" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

                    <span class="js-step-title">
                Vyzdvihnutie rodného listu na matrike
              </span>
                </h2>          </div>

            <div class="gem-c-step-nav__panel js-panel" id="step-panel-check-youre-allowed-to-drive-1">
                <p class="gem-c-step-nav__paragraph">Treba osobne na matričnom úrade. Je potrebné tlačivo “Vyhlásenie o mene dieťaťa “ podpísané otcom aj matkou. Tlačivo dostanete v pôrodnici (ideálne ho tam podpíše matka a otec to rieši potom sám). Taktiež treba priniesť sobášny list a OP oboch rodičov.</p>
            </div>

        </li>
        <li class="gem-c-step-nav__step js-step
          " id="get-a-provisional-licence" data-track-count="stepNavSection">
            <div class="gem-c-step-nav__header js-toggle-panel" data-position="2">
                <h2 class="gem-c-step-nav__title">
              <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                <span class="gem-c-step-nav__circle-inner">
                  <span class="gem-c-step-nav__circle-background">
                      <span class="visuallyhidden">Krok</span> 2<span class="visuallyhidden" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

                    <span class="js-step-title">
                Prihlásenie do zdravotnej poisťovne
              </span>
                </h2>          </div>

            <div class="gem-c-step-nav__panel js-panel" id="step-panel-get-a-provisional-licence-2">

                <ol class="gem-c-step-nav__list " data-length="2">
                    <li class="gem-c-step-nav__list-item js-list-item ">
                        <strong>VŠZP</strong>: Je potrebné ísť osobne na pobočku s kópiou rodného listu dieťaťa
                    </li>
                    <li class="gem-c-step-nav__list-item js-list-item ">
                        <strong>Dôvera</strong>: <a rel="external" data-position="1.1" class="gem-c-step-nav__link js-link" href="https://prihlaska.dovera.sk/formular" target="_blank">Vyplňte online žiadosť</a>
                    </li>
                    <li class="gem-c-step-nav__list-item js-list-item ">
                        <strong>UNION</strong>: <a rel="external" data-position="1.2" class="gem-c-step-nav__link js-link" href="https://www.union.sk/online-prihlaska-uzp" target="_blank">Vyplňte online žiadosť</a>
                    </li>
                </ol>
            </div>

        </li>
        <li class="gem-c-step-nav__step js-step
          " id="driving-lessons-and-practice" data-track-count="stepNavSection">
            <div class="gem-c-step-nav__header js-toggle-panel" data-position="3">
                <h2 class="gem-c-step-nav__title">
              <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                <span class="gem-c-step-nav__circle-inner">
                  <span class="gem-c-step-nav__circle-background">
                      <span class="visuallyhidden">Krok</span> 3<span class="visuallyhidden" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

                    <span class="js-step-title">
                Oznámenie rodného čísla do Sociálnej poisťovne
              </span>
                </h2>          </div>

            <div class="gem-c-step-nav__panel js-panel" id="step-panel-driving-lessons-and-practice-3">
                <p class="gem-c-step-nav__paragraph">Ihneď po narodení dieťaťa je fyzická osoba, ktorej vznikol nárok na materské, povinná oznámiť rodné číslo dieťaťa, napr. zaslaním neoverenej fotokópie rodného listu dieťaťa na oddelenie nemocenského poistenia pobočke Sociálnej poisťovne, ktorá jej materské vypláca.</p>
            </div>

        </li>
        <li class="gem-c-step-nav__step js-step
          " id="book-and-manage-your-theory-test" data-track-count="stepNavSection">
            <div class="gem-c-step-nav__header js-toggle-panel" data-position="5">
                <h2 class="gem-c-step-nav__title">
              <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                <span class="gem-c-step-nav__circle-inner">
                  <span class="gem-c-step-nav__circle-background">
                      <span class="visuallyhidden">Krok</span> 4<span class="visuallyhidden" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

                    <span class="js-step-title">
                Prihlásenie dieťaťa k pediatrovi
              </span>
                </h2>          </div>

            <div class="gem-c-step-nav__panel js-panel" id="step-panel-book-and-manage-your-theory-test1-5">
                <p class="gem-c-step-nav__paragraph">Pediatrovi je potrebné doniesť prepúšťaciu správu z pôrodnice.</p>
            </div>

        </li>
        <li class="gem-c-step-nav__step js-step gem-c-step-nav__step--active
          " id="step7" data-track-count="stepNavSection">
            <div class="gem-c-step-nav__header js-toggle-panel" data-position="7">
                <h2 class="gem-c-step-nav__title">
              <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                <span class="gem-c-step-nav__circle-inner">
                  <span class="gem-c-step-nav__circle-background">
                      <span class="visuallyhidden">Krok</span> 5<span class="visuallyhidden" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

                    <span class="js-step-title">
                Požiadanie o príspevok pri narodení dieťaťa
              </span>
                </h2>          </div>

            <div class="gem-c-step-nav__panel js-panel" id="step7-7">
                <p class="gem-c-step-nav__paragraph">Po 28 dňoch od narodenia dieťaťa je možné požiadať o príspevok.</p>


                <p class="gem-c-step-nav__paragraph">
                    Požiadať o príspevok môžete elektronicky:
                </p>

                <a href="/app-prispevok-pri-narodeni-dietata" role="button" class="govuk-button govuk-button--start">
                    Spustiť
                </a>
            </div>

        </li>
        <li class="gem-c-step-nav__step js-step
          " id="step9" data-track-count="stepNavSection">
            <div class="gem-c-step-nav__header js-toggle-panel" data-position="9">
                <h2 class="gem-c-step-nav__title">
              <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                <span class="gem-c-step-nav__circle-inner">
                  <span class="gem-c-step-nav__circle-background">
                      <span class="visuallyhidden">Krok</span> 6<span class="visuallyhidden" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

                    <span class="js-step-title">
                Požiadanie o príspevok od obce
              </span>
                </h2>          </div>

            <div class="gem-c-step-nav__panel js-panel" id="step9-9">
                <p class="gem-c-step-nav__paragraph">
                    Niektoré mestské časti a obce dávajú tiež príspevky pri narodení dieťaťa.</p>
            </div>

        </li>
        <li class="gem-c-step-nav__step js-step
          " id="step8" data-track-count="stepNavSection">
            <div class="gem-c-step-nav__header js-toggle-panel" data-position="8">
                <h2 class="gem-c-step-nav__title">
              <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                <span class="gem-c-step-nav__circle-inner">
                  <span class="gem-c-step-nav__circle-background">
                      <span class="visuallyhidden">Krok</span> 7<span class="visuallyhidden" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

                    <span class="js-step-title">
                Požiadanie o rôzne ďalšie príplatky a príspevky
              </span>
                </h2>          </div>

            <div class="gem-c-step-nav__panel js-panel" id="step8-8">
                <p class="gem-c-step-nav__paragraph">
                    V závislosti od vašej situácie môžete mať nárok na niektoré ďalšie príplatky a príspevky.
                    <a href="https://www.slovensko.sk/sk/zivotne-situacie/zivotna-situacia/_prispevky-poskytovane-uradom-p" target="_blank">Prečítajte si podmienky na získanie príplatkov a príspevkov</a> </p>
            </div>

        </li>
        <li class="gem-c-step-nav__step js-step
          " id="step10" data-track-count="stepNavSection">
            <div class="gem-c-step-nav__header js-toggle-panel" data-position="10">
                <h2 class="gem-c-step-nav__title">
              <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                <span class="gem-c-step-nav__circle-inner">
                  <span class="gem-c-step-nav__circle-background">
                      <span class="visuallyhidden">Krok</span> 8<span class="visuallyhidden" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

                    <span class="js-step-title">
                Vybavenie cestovného dokladu dieťaťa
              </span>
                </h2>          </div>

            <div class="gem-c-step-nav__panel js-panel" id="step10-10">
                <p class="gem-c-step-nav__paragraph">
                    Ak chcete s dieťaťom cestovať do zahraničia je potrebné mu vybaviť cestovný doklad. Cestovný doklad sa vybavuje osobne na polícii. Je potrebné si doniesť občiansky preukaz.
                </p>
            </div>

        </li>
        <li class="gem-c-step-nav__step js-step
          " id="step11" data-track-count="stepNavSection">
            <div class="gem-c-step-nav__header js-toggle-panel" data-position="11">
                <h2 class="gem-c-step-nav__title">
              <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                <span class="gem-c-step-nav__circle-inner">
                  <span class="gem-c-step-nav__circle-background">
                      <span class="visuallyhidden">Krok</span> 9<span class="visuallyhidden" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

                    <span class="js-step-title">
                Prihlásenie na trvalý pobyt
              </span>
                </h2>          </div>

            <div class="gem-c-step-nav__panel js-panel" id="step11-11">
                <p class="gem-c-step-nav__paragraph">
                    Ak sa dieťa narodí mimo územia Slovenska, miestom jeho trvalého pobytu nie je miesto trvalého pobytu jeho matky. Začiatkom trvalého pobytu je deň jeho prihlásenia na ohlasovni, je však nutné ho na ohlasovni prihlásiť.
                </p>

                <p class="gem-c-step-nav__paragraph">
                    Ak potrebujete prihlásiť dieťa na trvalý pobyt, môžete to spraviť elektronicky:
                </p>

                <a href="#" role="button" class="govuk-button govuk-button--start">
                    Spustiť
                </a>
            </div>

        </li>
    </ol>