<!-- Javascript -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>

<script src="/public/javascripts/govuk_publishing_components/lib/current-location.js"></script>
<script src="/public/javascripts/govuk_publishing_components/lib/toggle.js"></script>
<script src="/public/javascripts/govuk_publishing_components/lib/toggle-input-class-on-focus.js"></script>
<script src="/public/javascripts/govuk_publishing_components/components/error-summary.js"></script>
<script src="/public/javascripts/govuk_publishing_components/components/feedback.js"></script>
<script src="/public/javascripts/govuk_publishing_components/components/radio.js"></script>
<script src="/public/javascripts/govuk_publishing_components/components/step-by-step-nav.js"></script>


<script src="/node_modules/govuk-frontend/all.js"></script>
<script src="/public/javascripts/application.js"></script>

{% if useAutoStoreData %}
  <script src="/public/javascripts/auto-store-data.js"></script>
{% endif %}
