{% extends "layout.html" %}

{% block header %}
{{ govukHeader({
homepageUrl: "/",
serviceName: "Žiadosť o príspevok pri narodení dieťata"
}) }}
{% endblock %}

{% block pageTitle %}
Žiadosť o príspevok pri narodení dieťata
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% call govukFieldset({
        legend: {
        text: "Vyplatenie príspevku",
        classes: "govuk-fieldset__legend--xl",
        isPageHeading: true
        }
        }) %}

        <p>Príspevok Vám zašleme na toto číslo účtu.</p>

        {{ govukInput({
        label: {
        text: "Číslo účtu (IBAN)"
        },
        name: "iban",
        type: "text"
        }) }}


        {{ govukButton({
        text: "Pokračovať",
        href: "app-podanie"
        }) }}

        {% endcall %}
    </div>
</div>

{% endblock %}
