{% extends "layout.html" %}

{% block header %}
{{ govukHeader({
homepageUrl: "/",
serviceName: "Žiadosť o príspevok pri narodení dieťata"
}) }}
{% endblock %}

{% block pageTitle %}
Žiadosť o príspevok pri narodení dieťata
{% endblock %}

{% block content %}

<div class="gem-c-step-nav-header" data-module="track-click" style="margin-top: -30px; margin-bottom: 30px;">
    <span class="gem-c-step-nav-header__part-of">Súčasť situácie</span>
    <a href="/" class="gem-c-step-nav-header__title" data-track-category="stepNavHeaderClicked" data-track-action="top" data-track-label="/childcare-parenting/pregnancy-and-birth" data-track-dimension="Having children: step by step" data-track-dimension-index="29" data-track-options="{&quot;dimension96&quot; : &quot;false&quot; }">
        Narodenie dieťaťa
    </a>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% call govukFieldset({
        legend: {
        text: "Potvrdenia",
        classes: "govuk-fieldset__legend--xl",
        isPageHeading: true
        }
        }) %}

        {{ govukFileUpload({
        id: "file-upload-1",
        name: "file-upload-1",
        label: {
        text: "Nahrajte potvrdenie lekára, že sa dieťa dožilo 28 dní."
        }
        }) }}

        {{ govukButton({
        text: "Pokračovať",
        href: "app-prispevok-pri-narodeni-dietata-3"
        }) }}

        {% endcall %}
    </div>
</div>

{% endblock %}
