
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Narodenie dieťaťa
      <div>
        <strong class="govuk-tag govuk-!-margin-top-4 govuk-!-margin-bottom-2">
          prototyp
        </strong>
        <p class="govuk-body">
          Tento prototyp slúži na ukážku a testovanie workflow a UI/UX pre návod a vybavovanie životnej situácie podľa tohto návodu.
        </p>
      </div>
    </h1>

      <div data-module="gemstepnav" class="gem-c-step-nav js-hidden  gem-c-step-nav--large" data-remember data-id="e01e924b-9c7c-4c71-8241-66a575c2f61f" data-show-text="Zobraziť" data-hide-text="Skryť" data-show-all-text="Zobraziť všetko" data-hide-all-text="Skryť všetko">
      {% include "includes/narodenie-steps.html" %}
      </div>
  </div>
</div>

{% endblock %}
